*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
.main{
    margin: 20px;
    padding: 5px;
    letter-spacing: 3px;
}
.welcome{
    margin-top: 10px;
    padding: 5px;
        text-transform: uppercase;

}

.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 6px;
    font-size: 1.5em;
    color: rgb(237, 116, 68);
    font-style:normal;
}

.welcome-msg{
    margin-top: 25px;
 
}

.position{
    margin-top: 50px;
        font-style: italic;
        margin-bottom: 5px;

}
.about-me{
    margin-top: 10px;
        margin-bottom: 5px;
}

.btn-hire{
    margin-top:90px ;
    text-transform: uppercase;
    background-color: #008CBA;
    border: none;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}


.portfolio-img{
    display: inline;
    width: 400px;
    height: 400px;
float: right;
}
