

body{
    font-family: 'Roboto', sans-serif;
    
}
.main{
    letter-spacing: 3px;
}


.welcome{
    margin-top: 10px;
    padding: 5px;
        text-transform: uppercase;

}

.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 6px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-style:normal;
}

.welcome-msg{
    margin-top: 25px;
 
}

.position{
    margin-top: 50px;
        font-style: italic;
        margin-bottom: 5px;

}
.about-me{
    margin-top: 30px;
        margin-bottom: 5px;
          text-align: justify;
  text-justify: inherit;

}

.btn-hire{
    margin-top:90px ;
    text-transform: uppercase;
    background-color: #008CBA;
    border: none;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}


section{
display: flex;
padding-left: 2px;
padding-top: 5px;


  margin: 0;
  background-color: #373B44;
  height: 100vh;
  
  
  
}

.header {
    width: 50%;
    height: 100%;
    padding-left: 5%;
}

.header img {
    width: 100%;
}

.banner{
        background-image: url(./123.png);

}